<p>
  <strong>Q1:</strong>
  <%= @feedback.q1 %>
</p>
</br>
<p>
  <strong>Q2:</strong>
  <%= @feedback.q2 %>
</p>
<p>
  <strong>Q3:</strong>
  <%= @feedback.q3 %>
</p>
<p>
  <strong>Q4:</strong>
  <%= @feedback.q4 %>
</p>
<p>
  <strong>Q5:</strong>
  <%= @feedback.q5 %>
</p>
<p>
  <strong>Q6:</strong>
  <%= @feedback.q6 %>
</p>
<p>
  <strong>Q7:</strong>
  <%= @feedback.q7 %>
</p>
<p>
  <strong>Q8:</strong>
  <%= @feedback.q8 %>
</p>
<p>
  <strong>Q9:</strong>
  <%= @feedback.q9 %>
</p>
<p>
  <strong>Q10:</strong>
  <%= @feedback.q10 %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @feedback.latitude %>
</p>

<p>
  <strong>Long:</strong>
  <%= @feedback.longitude %>
</p>

<p>
  <strong>Imei:</strong>
  <%= @feedback.imei %>
</p>