<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%if @book.image.present?%>
  	<%= image_tag @book.image.url(:medium) %>
  	<%else%>
  		<%= image_tag "missing.png",:width=>"200", :height => "200" %>
  	<%end%>
</p>
<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>
<p>
  <strong>Book Name:</strong>
  <%= @book.book_file_name %>
</p>

