<div class="container">
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-signin"}) do |f| %>
	<div class="masthead">
    <h3 class="muted">Electronic-PDF</h3>
    <p class="muted">The smart reading</p>
  </div>
	<h4 class="form-signin-heading">Admin Panel Access</h4>
	<%= f.email_field :email, :class => "form-control space", :placeholder => "Email address", :required => "", :autofocus =>"true"%>
	<%= f.password_field :password, :class => "form-control", :placeholder => "Password", :required => ""%>

	<% if devise_mapping.rememberable? -%>
	<label class="checkbox">
      <%= f.check_box :remember_me %> Remember me
    </label>
	<% end -%>

	<%= f.submit "Sign in", :class => "btn btn-lg btn-primary btn-block" %></div>
	<% end %>

</div> 

<style>
a:hover, a:focus {
	color: #333333;
	background-color: transparent;
	text-decoration: underline;
}

a{
	color: #333333 !important;
}

.link{
	font-size: 12px;
	position: relative;
	margin-top: -20px;
	right: -154px;
}
#footer_container{
    position:fixed;
    bottom: 0; 
}

.container{
	margin-top: 100px;
}

h4{
	text-align: center;
}
.masthead{
	margin-bottom: 35px;
	text-align: center;
}
p.muted{
	margin-left:109px;
	font-size: 10px;
	margin-top: -7px;
	font-style: italic;
}
</style>